@charset "UTF-8";

body {
	font-size: 14px;
	font-family: 맑은고딕;
	margin: 0;
}

a{
	color: black;
	text-decoration: none;
}

h2 {
	text-align: center;
	border-bottom: 1px solid gray;
	padding: 100px 0 100px 0;
	margin: 0;
}

#dp {
	float: left;
}

ul {
    padding: 150px 150px 100px 250px;
    margin-top: 60px;
    width: 100px;
    margin-right: 0px;
}

ul li {
	font-size: 16px;
	list-style: none;
}

img {
	width: 300px;
	height: 400px;
}

p {
	text-align: center;
}

