@charset "UTF-8";

body {
	font-size: 14px;
	font-family: 맑은고딕;
}

h2 {
	text-align: center;
	border-bottom: 1px solid gray;
	padding: 100px 0 100px 0;
	margin: 0;
}

ul {
    padding: 150px 80px 80px 250px;
    margin: 0;
    width: 100px;
    color: black;
    float: left;
}

ul li {
	font-size: 16px;
	list-style: none;
}

p {
	text-align: center;
	margin-top: 500px;
}

#foot {
	text-align: center;
	font-size: 15px;
}